# Django settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# CORS settings
CSRF_TRUSTED_ORIGINS=http://localhost,https://127.0.0.1.com

# Database settings
DB_URL=postgres://user:password@localhost:5432/yourdbname

# Optional Redis settings (uncomment if using Redis)
# REDIS_URL=redis://localhost:6379/1
# REDIS_PASSWORD=your-redis-password-here

# JWT settings
JWT_SECRET_KEY=your-jwt-secret-key-here

# API version
API_VERSION=1
